body {
    background-color:#ffffff;
    /* background-image: linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444), linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444); */
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}

.wrapper {
    text-align: center;
    margin:auto;
    margin-top:225px;
    width: 420px;
    height: 450px;
    border:solid 3px;
    border-radius: 10%;
    background: orange;
    margin-bottom: 10px;
}
h1 {
    margin-top: 10px;
    font-size: 40px;
}


input {
    text-align: left;
    width:225px;
    height:30px;
    border: none;
    border-bottom: solid 3px black;
    background:orange;
}

input::placeholder {
    color: black;
    font-size: 10px;
}


.email {
    padding-top: 19px;
}

img {
    width: 200px;
    height: 200px;
}

.password {
    padding-bottom: 32px;
    padding-top: 22px;
}

button {
    width: 170px;
    height: 40px;
    border-radius: 10%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10%;
    background: white;
    justify-content:space-between ;
    transform: translateY(-200px);
    transform: translateX(270px);
}
